/Lab4/nbproject/private/
/Lab4/build/
/Lab5/nbproject/private/
/Lab5/build/
/Lab6/nbproject/private/
/Lab6_ServerClient/nbproject/private/
/Lab6_ServerClient/build/
/Lab7_JavaFX/nbproject/private/
/Lab7_JavaFX/build/
/Lab7_JavaFX/dist/
/Lab8_NotePad_JavaFX/nbproject/private/
/Lab8_NotePad_JavaFX/build/
/Lab8_NotePad_JavaFX/dist/
/Lab8_NotePadHTMLEditor_JavaFX/nbproject/private/